.modal__title {
  text-align: center;
}
.modal__description-span {
  padding: 20px 0;
}

.modal__status {
  padding-top: 20px;
}

.modal__status > span {
  padding-right: 10px;
}

.modal__description-span,
.modal__title {
  font-weight: 600;
}
