.create-box {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.create__item,
.create__btn {
  display: flex;
}
.create__item {
  flex-direction: column;
  justify-content: space-between;
}
.create__item > input {
  width: 240px;
}
.create__btn {
  align-items: end;
}
.create__btn > button {
  width: 100px;
  cursor: pointer;
}
.create__btn > button:hover {
  background-color: rgb(198, 196, 196);
}
.create__item > input,
.create__btn > button {
  background-color: #fff;
  border: 1px solid #000;
  height: 25px;
  box-sizing: border-box;
}
